*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sea {
  position: absolute;
  width: 1600px;
  right: 0;
  bottom: 0;
  left: 0; 
}
.super{
  position: absolute;
  width: 30%;
  top: 150px;
  left: 560px;
  display: flex;
  align-items: center; 
}
h1 {
  position: absolute;
  font-size: 60px;
  font-weight:normal;
  letter-spacing: 25px;
  font-family: 'Gill Sans MT';
  top: 62%;
  left: 29%;
  align-items: center;
  background: linear-gradient( rgb(250, 246, 246), rgb(68, 68, 68));
  -webkit-background-clip: text;
  color: transparent; 
}
p {
  position: absolute;
  font-size: 35px;
  text-shadow: 1px 3px 6px;
  font-family: 'Gill Sans MT';
  top: 76%;
  left: 34%;
  align-items: center;
  color: rgb(185, 183, 183);  
}